<h3 style="margin-top:40px; margin-bottom: 20px;">Dev Blogs</h3>
<h5 >In-depth explanations of how I make things</h5>

<div>
    <div class="row">

        {% for post in site.data.posts %}
            <div class="col-md-4" style="margin:10px 0px;">
                <a href="/blog/{{post.id}}" style="text-decoration: none; color: black">
                    <div class="card">
                        {% if post.thumbnail %}
                            <img src="{{post.thumbnail}}" class="img-rounded" style="width:100%">
                        {% endif %}
                        
                        <div class="card-body">
                            <h4 class="card-title">{{post.name}}</h4>
                            <p class="card-text">{{post.subtitle}}</p>
                            <h6>{{ post.date }}</h6>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}

    </div>
</div>
