/* mobile-specific CSS */
/* @media (max-width: 979px) { */
    @media (max-aspect-ratio: 9/11) {
        .blog p {
          font-size: 20px;
        }

        .blog h1 {
            font-size: 40px;
        }
        .blog h2 {
            font-size: 32px;
        }
        .blog h3 {
            font-size: 28px;
        }
        .blog h4 {
            font-size: 24px;
        }
        .blog h5 {
            font-size: 20px;
        }
        .blog h6 {
            font-size: 14px;
        }
      }

/* Add top-padding to the title */
.post-title {
    padding: 15px 0px
}

/* Add padding around the embedded tweets */
.twitter-tweet {
    padding: 15px 0px
}

/* Image padding */
img.blog {
    margin: 15px
}

blockquote {
    font-style: italic;
    padding: 20px;
    margin: 20px;
    background-color: rgb(239, 243, 245);
    border-radius: 10px;
}