---
layout: default
---

{{ content }}

<!-- games grid -->
</br><h3>My Games</h3></br>
<div>

        <!-- game cards go here -->
        {% for game in site.data.games %}
            {{game}}
            <br>
        {% endfor %}
        <!-- $("<div class=\"col-md-" + colGridWidth + "\">" +
                "<div class=\"card\">" +
                    "<a href=\"/game?gameId=" + gameId + "\">" +
                        "<img src=\"" + thumbnail +  "\" class=\"img-rounded\" alt=\"Lights\" style=\"width:100%\">" +
                    "</a>" +
                    "<div class=\"card-body\">" +
                        "<h4 class=\"card-title\">" + name + "</h4>" +
                        "<p class=\"card-text\">" + shortDescription + "</p>" +
                    "</div>" +
                "</div>" +
            "</div>") -->
</div>
