---
layout: default
---
<div class="jumbotron bg-transparent">
                
    <div class="row">
        <div class="col-md-12">
            <!-- Profile image aligned left -->
            <img class="rounded" style='float:left;width:225px;height:225px; margin-right:25px; padding:5px;' src="/about/images/profile.jpg" title="That's me!"/>

            <div class="game-description-text">
                
                <!-- About Me -->
                {{ content }}
                
            </div>
        </div>
    </div>

</div>