---
layout: default
parent: 
      link: "/blog"
      label: "Dev Blogs"
---

<!-- Select first post with matching ID -->
{% assign post_match = site.data.posts | where: "id", page.post_id | limit: 1 %}
{% assign post = post_match.first %}

<h1 class="post-title">{{ page.title }}</h1>

{% if post.subtitle %}
    <h5>{{ post.subtitle }}</h5>
{% endif %}

{% if page.link %}
    Link: <a href={{page.link}}>{{page.link}}</a>
{% endif %}

{% if post.date %}
    <h6><i>{{ post.date }}</i></h6>
{% endif %}


<hr>

<!-- Add cover image if given -->
{% if page.coverImage %}
    <div class="row">
        <img src="{{page.coverImage}}" class="fit-horizontal rounded mx-auto"
        style="padding: 20px 0px">
    </div>
{% endif %}

<!-- Embed youtube video if provided -->
{% if page.youtube %}
<div class="row">
    <div class="iframe-container">
        <iframe width="560" height="315" src="{{page.youtube}}" frameborder="0" allow="autoplay; encrypted-media; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<br/>
{% endif %}

<!-- Post body goes here -->
{{ content }}